.contact {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: azure;
  width: 100%;
  padding: 20px;
}

.contact-content {
  display: flex;
  justify-content: space-between;
}

.links-and-socials {
  text-align: left;
  width: 50%;
}

.links-and-socials ul {
  display: flex;
  justify-content: start;
  padding: 0 0 1.5rem 0;
  gap: 2rem;
}

.social-links a {
  font-size: large;
  color: #fff;
}

.social-links a:hover {
  padding: 10px 0px;
}

.map {
  width: 50%;
}

.copyright {
  text-align: right;
  font-size: small;
  margin: -2px;
}

@media screen and (max-width: 768px) {
  .contact-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
