.contact {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: azure;
  width: 100%;
  padding: 20px;
}

.contact-content {
  display: flex;
  justify-content: space-between;
}

.map {
  width: 50%;
}

.random-location {
  /* width: 100%;
    height: auto; */
  width: 500px;
  height: 350px;
}

.links-and-socials {
  text-align: left;
  width: 50%;
  padding: 20px;
}

.links-and-socials ul {
  display: flex;
  justify-content: center;
  padding: 0 0 1.5rem 0;
  gap: 2rem;
}

.social-links a {
  font-size: large;
  color: #fff;
}

.social-links a:hover {
  padding: 10px 0px;
}

.copyright {
  text-align: right;
  font-size: small;
  margin: -2px;
}

@media screen and (max-width: 1071px) {
  .contact-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .map {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {

  .random-location {
    width: 100%;
    height: 75vw;
    padding: 20px;
  }
}
