@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #333333;
  font-family: "Work Sans", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #ffa500;
  color: #333333;
  font-size: large;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ffd700;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.75rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.25rem;
}

@media screen and (max-width: 850px) {
  h1 {
    font-size: xx-large;
  }
  h2 {
    font-size: x-large;
  }

  h3 {
    font-size: medium;
  }

  p {
    font-size: small;
  }

  .btn {
    padding: 10px;
    font-size: small;
  }
}

/* NAVBAR */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: #ffd700;
  font-size: 20px;
  font-weight: 400;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  color: #333333;
  font-weight: 400;
}

.nav-links a:hover {
  color: #fff;
  cursor: pointer;
}

.hamburger-menu {
  display: none;
}

@media screen and (max-width: 700px) {
  .nav-links ul {
    display: none;
  }

  .main-header {
    position: relative;
  }

  .hamburger-menu {
    display: block;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .nav-links ul.show {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    background-color: #ffd700;
    padding: 20px;
    z-index: 10;
  }
}

/* HERO */
#hero {
  position: relative;
  text-align: center;
  overflow: hidden;
}

#hero img {
  width: 100%;
  height: auto;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  backdrop-filter: blur(3px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: wheat;
  max-width: 90%;
  /* padding: 0 10px; */
}

.hero-content header {
  margin: 0;
  width: 100%;
}

.hero-content p {
  font-size: 1.5rem;
  /* font-weight: 600; */
  color:white;
  text-shadow: black 1px 1px;
}

.hero-content a {
  width: fit-content;
}

@media screen and (max-width: 449px) {
  .hero-content h1{
    font-size: large;
  }

  .hero-content p {
    font-size: small;
  }

  .hero-content a {
    font-size: x-small;
    font-weight: 800;
  }
}


/* ABOUT-US */
.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.about-us-content {
  padding: 20px;
  width: 100%;
}

.about-us-content p {
  padding: 10px;
  text-align: left;
}

.about-us img {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .about-us {
    flex-wrap: wrap;
  }

  .about-us img {
    margin-top: 2rem 0rem;
    width: 100%;
  }
}


/* SPECIALTIES */
.cards {
  display: flex;
  max-width: 100%;
  gap: 10px;
  padding: 20px;
}

.card {
  width: 300px;
  height: 750px;
  border-radius: 5px;
  width: 33.3%;
  background-color: #000000;
  border-radius: 5px;
  color: #fff;
}

.ale-content {
  padding: 0 1.5rem;
}

.product-name-and-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  border-radius: 5px;
  background-color: #ffa500;
  padding: 5px 10px;
  color: rgb(28, 27, 27);
  font-weight: 700;
}

.ale-content h4 {
  font-size: 1.3rem;
}

.ale-content div + p {
  text-align: left;
  font-weight: 300;
}

.card img {
  width: 100%;
  border-radius: 4px 4px 0px 0px;
}

@media screen and (max-width: 768px) {
  .cards {
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  
  .ale-content h4 {
    font-size: 1rem;
    line-break:strict;
  }

  .product-name-and-price {
    gap: 10px;
  }
}


/* FOOTER */
.contact {
  display: flex;
  flex-direction: column;
  background-color: #ffa500;
  color: black;
  width: 100%;
  padding: 20px;
}

.contact-content {
  display: flex;
  justify-content: space-between;
}

.map {
  width: 50%;
}

.random-location {
  width: 500px;
  height: 350px;
}

.links-and-socials {
  text-align: left;
  width: 50%;
}

.links-and-socials ul {
  display: flex;
  justify-content: start;
  padding: 0 0 1.5rem 0;
  gap: 2rem;
}

.social-links a {
  font-size: large;
  color: black;
}

.social-links a:hover {
  padding: 10px 0px;
  color: wheat;
}

.copyright {
  text-align: right;
  font-size: small;
  margin: -2px;
}

@media screen and (max-width: 1071px) {
  .contact-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
  }
  
  .map {
    width: 100%;
  }
  
  .links-and-socials {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .links-and-socials ul, .links-and-socials p{
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}

@media screen and (max-width: 550px) {
  .random-location {
    width: 100%;
    height: 75vw;
    padding: 20px;
  }

  .copyright {
    padding-top: 20px;
    text-align: center;
  }

}
