* {
  box-sizing: border-box;
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  /* font-family: "Anuphan", sans-serif; */
  /* overflow: hidden; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: grey;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

